<div x-show="open" @click.away="open = false"
            class="absolute z-[999] -ml-5 mt-5 transform px-2 min-w-96 sm:px-0 lg:ml-0 lg:left-1/2 lg:-translate-x-1/2 left-1">
            <div class="shadow-lg border ring-black ring-opacity-5 overflow-hidden rounded-lg">
            <div class="flex md:flex-wrap lg:flex gap-6 bg-white px-3 py-3 sm:gap-8 sm:p-2">

                <!-- CREATE THE SUBLINK -->
                {% for childlink in link.links %}
                <a href="{{childlink.url}}" class="-m-3 p-3 flex items start rounded-lg hover:bg-gray-100">
                    <div class="ml-4">
                        <p class="text-white-900 text-base font-medium underline">
                        {{ childlink.title | escape }}
                        </p>
                        {% if childlink.links != blank %}
                            <ul>
                            {% for grandchildlink in childlink.links %}
                               <li>
                                <a href="{{ grandchildlink.url }}" id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle  }}">
                                    {{ grandchildlink.title | escape }}
                                </a>
                                </li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                        
                    </div>
                </a>
                {% endfor %}

            </div>
            </div>
        </div>