
<div class="flex flex-col my-8 px-4">
    <div class="flex items-center flex-col md:flex-row justify-{{ section.settings.title_align }} w-full md:max-w-6xl mx-auto mb-4">
        <h2 class="capitalize">{{ section.settings.heading }}</h2>
    </div>
    <div class="w-full md:max-w-6xl mx-auto mt-6 navBG">
        <div class="partner-slider overflow-hidden ">
           {% for block in section.blocks %}
                <div class="flex flex-col items-center justify-center py-4">
                    <div class="partner-brands border shadow-sm py-4 rounded-md mx-1">
                        <div class="brand-products grid grid-rows-2 grid-cols-2 justify-items-center mx-6">
                            {% for product in block.settings.brand_list.products limit: 4 %}
                                {% comment %} {{ product |  json }} {% endcomment %}
                                <div class="product w-36 sm:!w-44 p-2">
                                    <img src="{{ product.featured_image | img_url: 'medium' }}" class="sm:!w-44 sm:!h-48 object-cover shadow-lg transition delay-75 ease-in-out hover:shadow-2xl hover:scale-[1.1] {% if block.settings.shape == 'circle' %} rounded-2xl {% endif %}" alt="mass">
                                    {% if block.settings.show_product_name %}
                                        <h1 class="truncate py-2">{{ product.title }}</h1>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                        {% comment %} <div class="flex justify-end mr-4">
                            <a href="{{ block.settings.brand_list.url }}" class="font-bold">See More</a>
                            {% render 'icon-arrow-right' %}
                        </div> {% endcomment %}
                        <div class="border-b-2 mx-36 my-4"></div>
                        <div class="brand-logo flex justify-center h-16">
                            {% if block.settings.brand_logo != blank and block.settings.show_brand_name %}
                                <img src="{{ block.settings.brand_logo |  img_url: 'large' }}" alt="{{ block.settings.brand_name }}" class="!w-auto">
                            {% else %}
                                <h1 class="!mt-6 text-center font-bold text-2xl">{{ block.settings.brand_name }}</h1>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>




{% schema %}
{
    "name": "Partners",
    "tag": "section",
    "class": "partners-section",
    "settings": [
        {
             "type": "text",
             "id": "heading",
             "label": "Heading"
        },
        {
          "type": "select",
          "id": "title_align",
          "label": "Title Align",
          "default": "center",
          "options": [
              {
                  "label": "Left",
                  "value": "start"
              },
              {
                  "label": "Center",
                  "value": "center"
              },
              {
                  "label": "Right",
                  "value": "end"
              }
          ]
        }    
    ],
    "blocks": [
        {
            "type": "brand",
            "name": "Brand",
            "limit": 15,
            "settings": [
                {
                    "type": "text",
                    "id": "brand_name",
                    "label": "Brand Name",
                    "default": "Kkoch Brand"
                },
                {
                    "type": "select",
                    "id": "title_align",
                    "label": "Title Align",
                    "default": "center",
                    "options": [
                        {
                            "label": "Left",
                            "value": "start"
                        },
                        {
                            "label": "Center",
                            "value": "center"
                        },
                        {
                            "label": "Right",
                            "value": "end"
                        }
                    ]
                },
                {
                    "type": "collection",
                    "id": "brand_list",
                    "label": "Brand Product List"
                },
                {
                    "type": "select",
                    "id": "shape",
                    "label": "Shapes",
                    "default": "circle",
                    "options": [
                        {
                        "label": "Square",
                        "value": "square"
                        },
                        {
                        "label": "Circle",
                        "value": "circle"
                        }
                    ]
                },
                {
                    "type": "checkbox",
                    "id": "show_product_name",
                    "label": "Show Product Name"
                },
                {
                    "type": "checkbox",
                    "id": "show_brand_name",
                    "label": "Hide Brand Name"
                },
                { 
                    "type": "image_picker",
                    "id": "brand_logo",
                    "label": "Brand Logo"
                }
            ]
        }
    ]
}
{% endschema %}