
<div class="password flex items-center justify-center h-screen">
    <div class="max-w-md mx-auto w-full p-4">
    <div class="flex items-{{ section.settings.title_align }} justify-{{ section.settings.title_align }}" >
        
      <div style="max-width: {{ section.settings.logo_width }}px;">
        <a href="{{ routes.root_url }}">
            {% if section.settings.logo != blank %}
              <a href="/" class="header__logo"> <img src="{{ section.settings.logo | img_url: 'large' }}" alt="kkoch"></a>
            {% else %}
              <a href="/" class="truncate uppercase text-3xl font-medium">{{ shop.name }}</a>
            {% endif %}
          </a>
      </div>
    </div>

      <h1 class="font-bold text-2xl text-center my-4 capitalize">{% if section.settings.title-store-password != blank %}
        {{section.settings.title-store-password}}
        {% else %}
        Opening soon
      {% endif %}</h1>

        <div class="passwordForm">
            {% form 'storefront_password' %}
                {{ form.errors | default_errors }}
              
                <div class="password my-3">
                  <label for="password" class="text-base font-medium">Password</label>
                  <input type="password" name="password" class="w-full border px-2 py-1">
                </div>
              
                <div class="submit text-center">
                  <input type="submit" value="Sign in" class="bg-gray-600 px-4 py-2 text-white">
                </div>
              {% endform %}
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Store Password",
  "settings": [
    {
      "type": "text",
      "id": "title-store-password",
      "label": "Title Store Password"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:settings_schema.logo.settings.logo_image.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 300,
      "step": 10,
      "default": 100,
      "unit": "px",
      "label": "t:settings_schema.logo.settings.logo_width.label"
    },
    {
      "type": "select",
      "id": "title_align",
      "label": "Title Align",
      "default": "center",
      "options": [
        {
          "value": "start",
          "label": "LEFT"
        },
        {
          "value": "center",
          "label": "CENTER"
        },
        {
          "value": "end",
          "label": "RIGHT"
        }
      ]
    }
  ]
}
{% endschema %}

